<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Cadastro</title>
    <link rel="stylesheet" href="/static/css/style.css">
</head>
<body>
    <div class="container">
    <div class="cadastro-box">
    <div class="criar"><h1>Criar Conta</h1></div>
    <form action="" method="post">
        
        <div class="cadastro">
        <input type="number" name="cpf" id="cpf" placeholder="CPF">
        </div>
        <div class="cadastro">
        <input type="text" name="data_nascimento" id="nascimento" placeholder="Data Nascimento">
        </div>
        <div class="cadastro">
        <input type="email" name="email" id="" placeholder="E-mail">
        </div>
        <div class="cadastro">
        <input type="number" name="codigo_funcionario" id="" placeholder="Código de funcionário">
        </div>
        <div class="cadastro">
        <input type="text" name="data_admissao" id="" placeholder="Data de Admissão">
        </div>
        <div class="cadastro">
        <input type="text" name="nome" id="" placeholder="Nome">
        </div>
        <div class="cadastro">
        <input type="password" name="senha" id="" placeholder="Senha">
        </div>
        <div class="cadastro-btn">
        <button type="submit">Cadastre-se</button>
        </div>
    </form>
    </div>
    <div class="painel-direito">
    <img src="/static/css/images/igportalbranca.png" alt="Logo"></img>
    <p class="texto-painel">Preencha o formulário ao lado e verifique seu e-mail para a confirmação de seu cadastro.</p>
    <button class="btn-login" type="submit">RETORNAR AO LOGIN</button>
</div>
    </div>
    
</body>
</html>