<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Autenticação</title>
</head>
<body>
    <h1>Acesse sua conta</h1>
    <form  method="post">
        <input type="email" name="email" id="" aria-placeholder="E-mail">
        <input type="password" name="senha" id="" aria-placeholder="Senha">
        <button type="submit">EFETUAR LOGIN</button>
    </form>
    {{ mensagem }}
    
</body>
</html>